################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Google Ads - PPC Dashboard/appsettings.json
