@page
@model Google_Ads___PPC_Dashboard.Pages.LoginModel
@{
}

<h2>Login</h2>

@* @if (Model.users.Count() > 0)
{
    @foreach (Models.ApplicationUser user in Model.users)
    {
        Model.userSum++;
    }
} *@
<p>@Model.userSum</p>