/* Project-specific styles */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #007bff;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #007bff;
    border-color: #0056b3;
}

.footer {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
