/* Project-specific styles */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #007bff;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #007bff;
    border-color: #0056b3;
}

.footer {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}


        /* fran WebbBroCode i VS*/
.Productbox {
    display: inline-block;
    border-radius: 5%;
    border: 2px solid hsl(0, 0%, 65%);
    margin: 5px;
    width: 150px;
}

.Productbox:hover {
    border: 2px solid hsl(0, 0%, 14%);
}

.Productbox img {
    border-radius: 5%;
    width: 100%;
    height: auto;
}

.Productbox .Pinfo {
    border-radius: 5%;
    padding: 10px;
    text-align: center;
    background-color: white;
}

.Pinfo p {
    display: inline-block;
}
